default/SFTPToDBScript.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1722252414726,
    "description" : "",
    "identifier" : "SFTPToDBScript",
    "lastModifiedTimestamp" : 1722252414726,
    "name" : "SFTP_To_DB_Script",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "100 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "93ce15f5-be00-3950-827e-14a9aadca236",
        "name" : "TransformXml",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e0ec052e-d2af-3228-835b-9c133b1299d9",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f6143fb2-8271-3ec6-8603-5ed578a2f56c",
        "name" : "GetSFTP",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "100 GB",
      "backPressureObjectThreshold" : 100000000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c4a8b015-5abc-3ea0-9016-7c7a915304a7",
        "name" : "SplitXml",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b4376be8-e854-36de-9b0a-af73749f8d50",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "93ce15f5-be00-3950-827e-14a9aadca236",
        "name" : "TransformXml",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "50 GB",
      "backPressureObjectThreshold" : 1000000000000000,
      "bends" : [ {
        "x" : 1126.055733879737,
        "y" : 72.03530560333058
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "875d104e-e43b-35e2-b8f8-640692ac89ae",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1b76d207-870c-347b-b56a-bab305cb3a2e",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "6f6d3711-3bc0-3248-b26e-de8d903c17cf",
        "name" : "ExecuteScript",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "100 GB",
      "backPressureObjectThreshold" : 100000000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "37f0454c-dba2-3dc0-be34-8cbe94b61f4b",
        "name" : "EvaluateXPath",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "234fca6a-61d3-3f7c-a735-b2dcd083b68b",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "split" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c4a8b015-5abc-3ea0-9016-7c7a915304a7",
        "name" : "SplitXml",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "50 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "875d104e-e43b-35e2-b8f8-640692ac89ae",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d65c6c37-6d0f-38cf-8a28-c31e96703c56",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "6f6d3711-3bc0-3248-b26e-de8d903c17cf",
        "name" : "ExecuteScript",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "50 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "3a31ae69-507d-358e-aead-87e3aa3deeaa",
        "name" : "LogMessage",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9c5a4ab3-c0be-33ce-a6d5-7d167c2d5f53",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "93ce15f5-be00-3950-827e-14a9aadca236",
        "name" : "TransformXml",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "50 GB",
      "backPressureObjectThreshold" : 10000000000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a80dc201-ab54-3305-ae79-a7aa61492801",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f797663c-c5c1-35ba-a6ff-7ffabfca3870",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "37f0454c-dba2-3dc0-be34-8cbe94b61f4b",
        "name" : "EvaluateXPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "50 GB",
      "backPressureObjectThreshold" : 100000000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "6f6d3711-3bc0-3248-b26e-de8d903c17cf",
        "name" : "ExecuteScript",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "992af9ea-07de-3ef9-867d-4c7908cc0479",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a80dc201-ab54-3305-ae79-a7aa61492801",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0-M4"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "279d97ed-192a-3cad-ad76-0656f120c321",
      "name" : "CSVReader",
      "properties" : {
        "ignore-csv-header" : "false",
        "Trim double quote" : "true",
        "CSV Format" : "custom",
        "Quote Character" : "\"",
        "csvutils-allow-duplicate-header-names" : "true",
        "Value Separator" : ";",
        "Record Separator" : "\\n",
        "Escape Character" : "\\",
        "Skip Header Line" : "true",
        "Trim Fields" : "true",
        "schema-name" : "${schema.name}",
        "csv-reader-csv-parser" : "commons-csv",
        "schema-access-strategy" : "infer-schema",
        "csvutils-character-set" : "UTF-8",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "ignore-csv-header" : {
          "displayName" : "Ignore CSV Header Column Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "ignore-csv-header",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Trim double quote" : {
          "displayName" : "Trim double quote",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Trim double quote",
          "sensitive" : false
        },
        "CSV Format" : {
          "displayName" : "CSV Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "CSV Format",
          "sensitive" : false
        },
        "Quote Character" : {
          "displayName" : "Quote Character",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Quote Character",
          "sensitive" : false
        },
        "csvutils-allow-duplicate-header-names" : {
          "displayName" : "Allow Duplicate Header Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csvutils-allow-duplicate-header-names",
          "sensitive" : false
        },
        "Value Separator" : {
          "displayName" : "Value Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Value Separator",
          "sensitive" : false
        },
        "Record Separator" : {
          "displayName" : "Record Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Separator",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Escape Character" : {
          "displayName" : "Escape Character",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Escape Character",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Null String" : {
          "displayName" : "Null String",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null String",
          "sensitive" : false
        },
        "Skip Header Line" : {
          "displayName" : "Treat First Line as Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Skip Header Line",
          "sensitive" : false
        },
        "Trim Fields" : {
          "displayName" : "Trim Fields",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Trim Fields",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "csv-reader-csv-parser" : {
          "displayName" : "CSV Parser",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csv-reader-csv-parser",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "Comment Marker" : {
          "displayName" : "Comment Marker",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Comment Marker",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "csvutils-character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csvutils-character-set",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.csv.CSVReader"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-distributed-cache-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0-M4"
        },
        "type" : "org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient"
      }, {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0-M4"
        },
        "type" : "org.apache.nifi.distributed.cache.client.DistributedMapCacheClient"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5fd7dadd-7d0e-38b9-a102-22bb03f9629c",
      "name" : "DistributedMapCacheClientService",
      "properties" : {
        "Server Port" : "4559",
        "Server Hostname" : "localhost",
        "Communications Timeout" : "30 secs"
      },
      "propertyDescriptors" : {
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Server Port" : {
          "displayName" : "Server Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Server Port",
          "sensitive" : false
        },
        "Server Hostname" : {
          "displayName" : "Server Hostname",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Server Hostname",
          "sensitive" : false
        },
        "Communications Timeout" : {
          "displayName" : "Communications Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Communications Timeout",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-dbcp-service-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0-M4"
        },
        "type" : "org.apache.nifi.dbcp.DBCPService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9aec87e1-c4b2-309c-a88a-d1fbb8373e28",
      "name" : "DBCPConnectionPool",
      "properties" : {
        "dbcp-min-idle-conns" : "0",
        "Max Wait Time" : "500 millis",
        "Database Driver Class Name" : "org.postgresql.Driver",
        "dbcp-min-evictable-idle-time" : "30 mins",
        "Max Total Connections" : "8",
        "dbcp-max-conn-lifetime" : "-1",
        "Database Connection URL" : "jdbc:postgresql://localhost:5432/postgres",
        "dbcp-time-between-eviction-runs" : "-1",
        "Database User" : "postgres",
        "dbcp-soft-min-evictable-idle-time" : "-1",
        "database-driver-locations" : "C:\\nifi-2.0.0-M4-bin\\nifi-2.0.0-M4\\customLib\\postgresql-42.2.11.jar",
        "dbcp-max-idle-conns" : "8"
      },
      "propertyDescriptors" : {
        "kerberos-password" : {
          "displayName" : "Kerberos Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "kerberos-password",
          "sensitive" : true
        },
        "dbcp-min-idle-conns" : {
          "displayName" : "Minimum Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-idle-conns",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Driver Class Name" : {
          "displayName" : "Database Driver Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Driver Class Name",
          "sensitive" : false
        },
        "dbcp-min-evictable-idle-time" : {
          "displayName" : "Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-evictable-idle-time",
          "sensitive" : false
        },
        "kerberos-principal" : {
          "displayName" : "Kerberos Principal",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "kerberos-principal",
          "sensitive" : false
        },
        "Max Total Connections" : {
          "displayName" : "Max Total Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Total Connections",
          "sensitive" : false
        },
        "kerberos-credentials-service" : {
          "displayName" : "Kerberos Credentials Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "kerberos-credentials-service",
          "sensitive" : false
        },
        "dbcp-max-conn-lifetime" : {
          "displayName" : "Max Connection Lifetime",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-conn-lifetime",
          "sensitive" : false
        },
        "Validation-query" : {
          "displayName" : "Validation query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Validation-query",
          "sensitive" : false
        },
        "Database Connection URL" : {
          "displayName" : "Database Connection URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Connection URL",
          "sensitive" : false
        },
        "dbcp-time-between-eviction-runs" : {
          "displayName" : "Time Between Eviction Runs",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-time-between-eviction-runs",
          "sensitive" : false
        },
        "Database User" : {
          "displayName" : "Database User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database User",
          "sensitive" : false
        },
        "kerberos-user-service" : {
          "displayName" : "Kerberos User Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "kerberos-user-service",
          "sensitive" : false
        },
        "dbcp-soft-min-evictable-idle-time" : {
          "displayName" : "Soft Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-soft-min-evictable-idle-time",
          "sensitive" : false
        },
        "database-driver-locations" : {
          "displayName" : "Database Driver Location(s)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "database-driver-locations",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE", "URL" ]
          },
          "sensitive" : false
        },
        "dbcp-max-idle-conns" : {
          "displayName" : "Max Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-idle-conns",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-distributed-cache-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "16622377-5550-377b-b959-aa37e2dab364",
      "name" : "DistributedMapCacheServer",
      "properties" : {
        "Eviction Strategy" : "Least Frequently Used",
        "maximum-read-size" : "1 MB",
        "Port" : "4559",
        "Maximum Cache Entries" : "10000"
      },
      "propertyDescriptors" : {
        "Eviction Strategy" : {
          "displayName" : "Eviction Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Eviction Strategy",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Persistence Directory" : {
          "displayName" : "Persistence Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Persistence Directory",
          "sensitive" : false
        },
        "maximum-read-size" : {
          "displayName" : "Maximum Read Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "maximum-read-size",
          "sensitive" : false
        },
        "Port" : {
          "displayName" : "Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Port",
          "sensitive" : false
        },
        "Maximum Cache Entries" : {
          "displayName" : "Maximum Cache Entries",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Cache Entries",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.distributed.cache.server.map.DistributedMapCacheServer"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0-M4"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "757d9970-67fa-3b10-83fc-7c4eed765acc",
      "name" : "XMLRecordSetWriter",
      "properties" : {
        "omit_xml_declaration" : "false",
        "root_tag_name" : "<Board>",
        "suppress_nulls" : "never-suppress",
        "Schema Write Strategy" : "no-schema",
        "schema-name" : "${schema.name}",
        "array_wrapping" : "no-wrapping",
        "schema-access-strategy" : "inherit-record-schema",
        "pretty_print_xml" : "false",
        "schema-text" : "${avro.schema}",
        "Character Set" : "UTF-8"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "array_tag_name" : {
          "displayName" : "Array Tag Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "array_tag_name",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "omit_xml_declaration" : {
          "displayName" : "Omit XML Declaration",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "omit_xml_declaration",
          "sensitive" : false
        },
        "root_tag_name" : {
          "displayName" : "Name of Root Tag",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "root_tag_name",
          "sensitive" : false
        },
        "schema-cache" : {
          "displayName" : "Schema Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-cache",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "suppress_nulls" : {
          "displayName" : "Suppress Null Values",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "suppress_nulls",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "record_tag_name" : {
          "displayName" : "Name of Record Tag",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "record_tag_name",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "array_wrapping" : {
          "displayName" : "Wrap Elements of Arrays",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "array_wrapping",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "pretty_print_xml" : {
          "displayName" : "Pretty Print XML",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "pretty_print_xml",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Schema Reference Writer" : {
          "displayName" : "Schema Reference Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Writer",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.xml.XMLRecordSetWriter"
    } ],
    "defaultBackPressureDataSizeThreshold" : "50 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "875d104e-e43b-35e2-b8f8-640692ac89ae",
      "position" : {
        "x" : 1344.1114677594742,
        "y" : 168.07061120666117
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "logFileSuffix" : "Copy_of_SFTP_XML_XSLT",
    "maxConcurrentTasks" : 1,
    "name" : " SFTP_DB_XML_XSLT_Script",
    "outputPorts" : [ ],
    "parameterContextName" : "SFTP_XML_XSLT",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 3,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a80dc201-ab54-3305-ae79-a7aa61492801",
      "maxBackoffPeriod" : "10 mins",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 784.0,
        "y" : -80.0
      },
      "properties" : {
        "IsCreationTimeUnique" : "#{IsCreationTimeUnique}",
        "Store State" : "Do not store state",
        "canonical-value-lookup-cache-size" : "1000",
        "IsSegmentNozzleUnique" : "#{IsSegmentNozzleUnique}",
        "IsMachineIdUnique" : "#{IsMachineIdUnique}",
        "IsMeasuredAfterUnique" : "#{IsMeasuredAfterUnique}",
        "IsPlaceHeadIdUnique" : "#{IsPlaceHeadIdUnique}"
      },
      "propertyDescriptors" : {
        "IsCreationTimeUnique" : {
          "displayName" : "IsCreationTimeUnique",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "IsCreationTimeUnique",
          "sensitive" : false
        },
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "canonical-value-lookup-cache-size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "canonical-value-lookup-cache-size",
          "sensitive" : false
        },
        "IsSegmentNozzleUnique" : {
          "displayName" : "IsSegmentNozzleUnique",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "IsSegmentNozzleUnique",
          "sensitive" : false
        },
        "IsMachineIdUnique" : {
          "displayName" : "IsMachineIdUnique",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "IsMachineIdUnique",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        },
        "IsMeasuredAfterUnique" : {
          "displayName" : "IsMeasuredAfterUnique",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "IsMeasuredAfterUnique",
          "sensitive" : false
        },
        "IsPlaceHeadIdUnique" : {
          "displayName" : "IsPlaceHeadIdUnique",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "IsPlaceHeadIdUnique",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : {
        "background-color" : "#333353"
      },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 3,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c4a8b015-5abc-3ea0-9016-7c7a915304a7",
      "maxBackoffPeriod" : "10 mins",
      "name" : "SplitXml",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -72.0,
        "y" : -64.0
      },
      "properties" : {
        "Split Depth" : "1"
      },
      "propertyDescriptors" : {
        "Split Depth" : {
          "displayName" : "Split Depth",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Split Depth",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : {
        "background-color" : "#333353"
      },
      "type" : "org.apache.nifi.processors.standard.SplitXml",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-scripting-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "6f6d3711-3bc0-3248-b26e-de8d903c17cf",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ExecuteScript",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1208.0,
        "y" : -88.0
      },
      "properties" : {
        "Script Engine" : "Groovy",
        "Script Body" : "import org.apache.nifi.processor.io.StreamCallback\nimport org.apache.nifi.flowfile.FlowFile\nimport org.apache.nifi.processor.ProcessSession\nimport java.nio.charset.StandardCharsets\nimport java.io.InputStream\nimport java.io.OutputStream\nimport java.io.IOException\nimport java.sql.Connection\nimport java.sql.DriverManager\nimport java.sql.Statement\nimport java.sql.PreparedStatement\n\n// Define the StreamCallback implementation\nclass MyStreamCallback implements StreamCallback {\n    def attributes\n\n    MyStreamCallback(attributes) {\n        this.attributes = attributes\n    }\n\n    @Override\n    void process(InputStream inputStream, OutputStream outputStream) throws IOException {\n        // No processing needed for content\n    }\n}\n\n// Get the flow file\nFlowFile flowFile = session.get()\nif (flowFile != null) {\n    def attributes = flowFile.getAttributes()\n\n    // Define the base SQL statement for creating the table\n    String createTableBaseSql = \"\"\"\n    CREATE TABLE IF NOT EXISTS board\n    (\n        creationtime character varying,\n        machineid character varying,\n        measuredafter character varying,\n        placeheadid character varying,\n        segment_nozzle character varying,\n        file_id character varying,\n        board_id character varying,\n        parsing_timestamp timestamptz default (now() at time zone 'utc'),\n        CONSTRAINT board_uniqconstraint UNIQUE (\n    \"\"\"\n\n    // List of columns for unique constraint\n    List<String> uniqueColumns = []\n\n    // Add columns based on the attribute values\n    if (attributes['IsCreationTimeUnique'] == 'true') {\n        uniqueColumns.add('creationtime')\n    }\n    if (attributes['IsMachineIdUnique'] == 'true') {\n        uniqueColumns.add('machineid')\n    }\n    if (attributes['IsMeasuredAfterUnique'] == 'true') {\n        uniqueColumns.add('measuredafter')\n    }\n    if (attributes['IsPlaceHeadIdUnique'] == 'true') {\n        uniqueColumns.add('placeheadid')\n    }\n    if (attributes['IsSegmentNozzleUnique'] == 'true') {\n        uniqueColumns.add('segment_nozzle')\n    }\n\n    // Complete the create table SQL statement\n    String createTableSql = createTableBaseSql + uniqueColumns.join(', ') + '))'\n\n    // Define the SQL statement to insert data\n    String insertSql = \"\"\"\n    INSERT INTO board (\n        creationtime,\n        machineid,\n        measuredafter,\n        placeheadid,\n        segment_nozzle,\n        file_id,\n        board_id\n    ) VALUES (\n        ?,\n        ?,\n        ?,\n        ?,\n        ?,\n        ?,\n        ?\n    ) ON CONFLICT (\n        ${uniqueColumns.join(', ')}\n    ) DO NOTHING;\n    \"\"\"\n\n    // Extract attribute values\n    String creationTime = attributes['CreationTime']\n    String machineId = attributes['MachineId']\n    String measuredAfter = attributes['MeasuredAfter']\n    String placeHeadId = attributes['PlaceHeadId']\n    String segmentNozzle = attributes['SegmentNozzle']\n    String fileId = attributes['filename']\n    String boardId = attributes['uuid']\n\n    // JDBC connection settings\n    String jdbcUrl = \"jdbc:postgresql://localhost:5432/postgres\"\n    String jdbcUser = \"postgres\"\n    String jdbcPassword = \"Luck\"\n\n    try {\n        // Establish a JDBC connection\n        Connection connection = DriverManager.getConnection(jdbcUrl, jdbcUser, jdbcPassword)\n        Statement statement = connection.createStatement()\n\n        // Execute the SQL statement to create the table\n        statement.executeUpdate(createTableSql)\n\n        // Prepare and execute the SQL statement to insert data\n        PreparedStatement preparedStatement = connection.prepareStatement(insertSql)\n        preparedStatement.setString(1, creationTime)\n        preparedStatement.setString(2, machineId)\n        preparedStatement.setString(3, measuredAfter)\n        preparedStatement.setString(4, placeHeadId)\n        preparedStatement.setString(5, segmentNozzle)\n        preparedStatement.setString(6, fileId)\n        preparedStatement.setString(7, boardId)\n\n        preparedStatement.executeUpdate()\n\n        // Close the connections\n        preparedStatement.close()\n        statement.close()\n        connection.close()\n\n        // Transfer the flow file to success relationship\n        session.transfer(flowFile, REL_SUCCESS)\n    } catch (Exception e) {\n        log.error(\"Error executing SQL queries\", e)\n        session.transfer(flowFile, REL_FAILURE)\n    }\n}\n"
      },
      "propertyDescriptors" : {
        "Script File" : {
          "displayName" : "Script File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Script File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Script Engine" : {
          "displayName" : "Script Engine",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Script Engine",
          "sensitive" : false
        },
        "Script Body" : {
          "displayName" : "Script Body",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Script Body",
          "sensitive" : false
        },
        "Module Directory" : {
          "displayName" : "Module Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Module Directory",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE" ]
          },
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : {
        "background-color" : "#333353"
      },
      "type" : "org.apache.nifi.processors.script.ExecuteScript",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3a31ae69-507d-358e-aead-87e3aa3deeaa",
      "maxBackoffPeriod" : "10 mins",
      "name" : "LogMessage",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 384.0,
        "y" : -296.0
      },
      "properties" : {
        "log-message" : "Failed to transform XML: An unexpected error occurred during the XML transformation process for the FlowFile ${filename}",
        "log-level" : "error",
        "log-prefix" : "TransformXML_XSLT Error:"
      },
      "propertyDescriptors" : {
        "log-message" : {
          "displayName" : "Log message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "log-message",
          "sensitive" : false
        },
        "log-level" : {
          "displayName" : "Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "log-level",
          "sensitive" : false
        },
        "log-prefix" : {
          "displayName" : "Log prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "log-prefix",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "success" ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : {
        "background-color" : "#ff3838"
      },
      "type" : "org.apache.nifi.processors.standard.LogMessage",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 3,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f6143fb2-8271-3ec6-8603-5ed578a2f56c",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GetSFTP",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -544.0,
        "y" : -288.0
      },
      "properties" : {
        "Ignore Dotted Files" : "true",
        "Port" : "2222",
        "Max Selects" : "50",
        "Proxy Type" : "DIRECT",
        "Connection Timeout" : "30 sec",
        "follow-symlink" : "false",
        "Search Recursively" : "false",
        "Strict Host Key Checking" : "false",
        "Remote Poll Batch Size" : "5000",
        "Polling Interval" : "60 sec",
        "Hostname" : "192.168.123.120",
        "Remote Path" : "#{SFTP Remote Path}",
        "Use Compression" : "false",
        "Send Keep Alive On Timeout" : "true",
        "Data Timeout" : "30 sec",
        "Username" : "tester",
        "Use Natural Ordering" : "false",
        "Delete Original" : "true"
      },
      "propertyDescriptors" : {
        "Proxy Host" : {
          "displayName" : "Proxy Host",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Proxy Host",
          "sensitive" : false
        },
        "Http Proxy Password" : {
          "displayName" : "Http Proxy Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Http Proxy Password",
          "sensitive" : true
        },
        "Ignore Dotted Files" : {
          "displayName" : "Ignore Dotted Files",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ignore Dotted Files",
          "sensitive" : false
        },
        "Port" : {
          "displayName" : "Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Port",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "Ciphers Allowed" : {
          "displayName" : "Ciphers Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ciphers Allowed",
          "sensitive" : false
        },
        "Max Selects" : {
          "displayName" : "Max Selects",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Selects",
          "sensitive" : false
        },
        "Proxy Type" : {
          "displayName" : "Proxy Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Proxy Type",
          "sensitive" : false
        },
        "Private Key Passphrase" : {
          "displayName" : "Private Key Passphrase",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Private Key Passphrase",
          "sensitive" : true
        },
        "Connection Timeout" : {
          "displayName" : "Connection Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Timeout",
          "sensitive" : false
        },
        "Path Filter Regex" : {
          "displayName" : "Path Filter Regex",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Filter Regex",
          "sensitive" : false
        },
        "follow-symlink" : {
          "displayName" : "Follow symlink",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "follow-symlink",
          "sensitive" : false
        },
        "Search Recursively" : {
          "displayName" : "Search Recursively",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Search Recursively",
          "sensitive" : false
        },
        "Strict Host Key Checking" : {
          "displayName" : "Strict Host Key Checking",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Strict Host Key Checking",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        },
        "File Filter Regex" : {
          "displayName" : "File Filter Regex",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Filter Regex",
          "sensitive" : false
        },
        "Remote Poll Batch Size" : {
          "displayName" : "Remote Poll Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Remote Poll Batch Size",
          "sensitive" : false
        },
        "Polling Interval" : {
          "displayName" : "Polling Interval",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Polling Interval",
          "sensitive" : false
        },
        "Http Proxy Username" : {
          "displayName" : "Http Proxy Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Http Proxy Username",
          "sensitive" : false
        },
        "Hostname" : {
          "displayName" : "Hostname",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Hostname",
          "sensitive" : false
        },
        "Remote Path" : {
          "displayName" : "Remote Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Remote Path",
          "sensitive" : false
        },
        "Host Key File" : {
          "displayName" : "Host Key File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Host Key File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Use Compression" : {
          "displayName" : "Use Compression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Compression",
          "sensitive" : false
        },
        "Message Authentication Codes Allowed" : {
          "displayName" : "Message Authentication Codes Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message Authentication Codes Allowed",
          "sensitive" : false
        },
        "Send Keep Alive On Timeout" : {
          "displayName" : "Send Keep Alive On Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Send Keep Alive On Timeout",
          "sensitive" : false
        },
        "Proxy Port" : {
          "displayName" : "Proxy Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Proxy Port",
          "sensitive" : false
        },
        "Data Timeout" : {
          "displayName" : "Data Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Timeout",
          "sensitive" : false
        },
        "Private Key Path" : {
          "displayName" : "Private Key Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Private Key Path",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Username" : {
          "displayName" : "Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Username",
          "sensitive" : false
        },
        "Key Exchange Algorithms Allowed" : {
          "displayName" : "Key Exchange Algorithms Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Exchange Algorithms Allowed",
          "sensitive" : false
        },
        "Use Natural Ordering" : {
          "displayName" : "Use Natural Ordering",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Natural Ordering",
          "sensitive" : false
        },
        "Delete Original" : {
          "displayName" : "Delete Original",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Original",
          "sensitive" : false
        },
        "Key Algorithms Allowed" : {
          "displayName" : "Key Algorithms Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Algorithms Allowed",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : {
        "background-color" : "#333353"
      },
      "type" : "org.apache.nifi.processors.standard.GetSFTP",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 3,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "93ce15f5-be00-3950-827e-14a9aadca236",
      "maxBackoffPeriod" : "10 mins",
      "name" : "TransformXml",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -56.0,
        "y" : -296.0
      },
      "properties" : {
        "secure-processing" : "true",
        "cache-size" : "10",
        "indent-output" : "true",
        "XSLT file name" : "C:\\nifi-2.0.0-M4-bin\\nifi-2.0.0-M4\\xslt\\xsltfiltered.xslt",
        "cache-ttl-after-last-access" : "60 secs"
      },
      "propertyDescriptors" : {
        "xslt-controller-key" : {
          "displayName" : "XSLT Lookup key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "xslt-controller-key",
          "sensitive" : false
        },
        "xslt-controller" : {
          "displayName" : "XSLT Lookup",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "xslt-controller",
          "sensitive" : false
        },
        "secure-processing" : {
          "displayName" : "Secure processing",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "secure-processing",
          "sensitive" : false
        },
        "cache-size" : {
          "displayName" : "Cache size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "cache-size",
          "sensitive" : false
        },
        "indent-output" : {
          "displayName" : "Indent",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "indent-output",
          "sensitive" : false
        },
        "XSLT file name" : {
          "displayName" : "XSLT file name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "XSLT file name",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "cache-ttl-after-last-access" : {
          "displayName" : "Cache TTL after last access",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "cache-ttl-after-last-access",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : {
        "background-color" : "#333353"
      },
      "type" : "org.apache.nifi.processors.standard.TransformXml",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 3,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "37f0454c-dba2-3dc0-be34-8cbe94b61f4b",
      "maxBackoffPeriod" : "10 mins",
      "name" : "EvaluateXPath",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 368.0,
        "y" : -80.0
      },
      "properties" : {
        "SegmentNozzle" : "//Board/@Segment-Nozzle",
        "Destination" : "flowfile-attribute",
        "MachineId" : "//Board/@MachineId",
        "Return Type" : "auto-detect",
        "PlaceHeadId" : "//Board/@PlaceHeadId",
        "CreationTime" : "//Board/@CreationTime",
        "MeasuredAfter" : "//Board/@MeasuredAfter",
        "Validate DTD" : "false"
      },
      "propertyDescriptors" : {
        "SegmentNozzle" : {
          "displayName" : "SegmentNozzle",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "SegmentNozzle",
          "sensitive" : false
        },
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "MachineId" : {
          "displayName" : "MachineId",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "MachineId",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "PlaceHeadId" : {
          "displayName" : "PlaceHeadId",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "PlaceHeadId",
          "sensitive" : false
        },
        "CreationTime" : {
          "displayName" : "CreationTime",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "CreationTime",
          "sensitive" : false
        },
        "MeasuredAfter" : {
          "displayName" : "MeasuredAfter",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "MeasuredAfter",
          "sensitive" : false
        },
        "Validate DTD" : {
          "displayName" : "Allow DTD",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Validate DTD",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : {
        "background-color" : "#333353"
      },
      "type" : "org.apache.nifi.processors.standard.EvaluateXPath",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "SFTP_XML_XSLT" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "SFTP_XML_XSLT",
      "parameters" : [ {
        "description" : "",
        "name" : "IsSegmentNozzleUnique",
        "provided" : false,
        "sensitive" : false,
        "value" : "false"
      }, {
        "description" : "",
        "name" : "SFTP Remote Path",
        "provided" : false,
        "sensitive" : false,
        "value" : "\\nifi"
      }, {
        "description" : "",
        "name" : "IsCreationTimeUnique",
        "provided" : false,
        "sensitive" : false,
        "value" : "false"
      }, {
        "description" : "",
        "name" : "XSLT File Path",
        "provided" : false,
        "sensitive" : false,
        "value" : "C:\\nifi-2.0.0-M4-bin\\nifi-2.0.0-M4\\xslt"
      }, {
        "description" : "",
        "name" : "IsMachineIdUnique",
        "provided" : false,
        "sensitive" : false,
        "value" : "false"
      }, {
        "description" : "",
        "name" : "IsMeasuredAfterUnique",
        "provided" : false,
        "sensitive" : false,
        "value" : "false"
      }, {
        "description" : "",
        "name" : "IsPlaceHeadIdUnique",
        "provided" : false,
        "sensitive" : false,
        "value" : "true"
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "7da187a5-52e4-4298-8429-dbbda46cded1",
    "flowIdentifier" : "SFTPToDBScript",
    "timestamp" : 0
  }
}